body {
	margin: 1.5em 0;
    background: #F3F5FC;
}
main{
    width: 1440px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    top: 80px;
}
header {
    margin: 40px 0 80px 40px;
    display: inline;
    width: 120px;
    height: 40px;
}
 .panel-1{
    width: 75%;
     height: 100%;
     float: left;
 }
.panel-texto-boton{
    width: calc(100% - 125px);
    height: 100%;
    margin: 0 0 0 125px;
    background:#F3F5FC;
}
#texto{
    background:#F3F5FC;
    color: #0A3871;
    border: 0px;
    font-size: 32px;
    margin: 0 75px 0 0;
    width: calc(100% - 85px);
}
.caja-botones {
    margin: 0 80px 0 0;
    display: flex;
    justify-content: space-between;
}
.panel-texto-boton p{
    font-size: 12px;
    margin: 16px 0px;
}
.boton{
    font-size: 16px;
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    border: 0px;
}
#encriptar{
    background: #0A3871;
    color: white;
}
#desencriptar{
    border: 1px solid #0A3871;
    background: transparent;
}

.panel-2{
    width: 25%;
    height: calc(100% + 100px);
    float: right;
    background-color:white;
    position: relative;
    top: -100px;
    border-radius: 32px;
}
.panel-img-mensaje {
    margin: calc((700px - 367.35px)/2) 32px;
  }
#img-munheco {
    box-sizing: content-box;
    width: 100%;
}
.mensaje{
    text-align: center;
}
#mensaje-1{
    font-size: 24px;
    font-weight: bold;
    color: #343A40;
}
#mensaje-2{
    font-size: 16px;
    color: #495057;
}